# doctesting untuk testing python
# jika pull request fail dengan python testing
# akan di review oleh contributor
# jika tidak ada perubahan maka pull request akan ditutup

name: python testing
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: salam
      run: |
        echo "Halo!"
        echo "Mulai testing..."
        echo "harap tunggu sebentar... :)"
    - name: Install dependencies
      run: |
        echo "Mulai jalankan install requirement"
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r dev-requirements.txt
    - name: Format otomatis
      run: |
        echo "Mulai format otomatis"
        isort . --profile=black
        black .
    - name: Test Python
      run: |
        echo "Mulai Jalankan testing docstring"
        pytest . --doctest-modules --ignore=Basic/
    - name: Test Lint Python
      run: |
        echo "Mulai Jalankan testing flake8"
        flake8 .
    - name: Test mypy
      run: |
        echo "Mulai Jalankan testing mypy"
        mypy .
    - name: Cek modifikasi file
      id: git-check
      run: echo ::set-output name=modified::$(if git diff-index --quiet HEAD --; then echo "tidak"; else echo "ya"; fi)
    - name: Push perubahan
      if: steps.git-check.outputs.modified == 'ya' && github.event_name == 'push'
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git pull
        git commit -am "style: format otomatis dengan black dan isort"
        git push
    - name: Test coverage
      run: |
        echo "Mulai testing coverage"
        coverage run --source . -m pytest --doctest-modules --ignore=Basic/
    - name: Hasil coverage
      run: |
        echo "Laporan coverage"
        coverage report -m
